# OS
.DS_Store
Thumbs.db

# Backend
backend/test/
backend/logs/
backend/db/

# Frontend
frontend/node_modules/
frontend/.output/
frontend/.vercel/
frontend/.svelte-kit/
frontend/build/

# Env files
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
